In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('train_all.csv')
train_df

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),...,회사채3년(평균),CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가,선행지수순환변동치
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.10,1.67,1.49,1.5,25,83.300000,18000,"1,175.45",76.81,99.6
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.10,1.67,1.49,1.5,26,83.300000,55200,"1,175.45",76.81,99.6
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.10,1.67,1.49,1.5,14,83.300000,36800,"1,175.45",76.81,99.6
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.10,1.67,1.49,1.5,6,83.300000,67600,"1,175.45",76.81,99.6
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.10,1.67,1.49,1.5,26,83.300000,30300,"1,175.45",76.81,99.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453165,성동구,2020-12-31,84.30,3,2873.469971,0.09,49.8,30495,0.97,1.32,...,2.21,0.66,0.51,0.5,4,103.933333,171000,"1,084.47",71.96,100.4
453166,성북구,2020-12-31,59.98,2,2873.469971,0.09,49.8,30495,0.97,1.32,...,2.21,0.66,0.51,0.5,19,103.933333,47000,"1,084.47",71.96,100.4
453167,용산구,2020-12-31,84.21,7,2873.469971,0.09,49.8,30495,0.97,1.32,...,2.21,0.66,0.51,0.5,9,103.933333,175000,"1,084.47",71.96,100.4
453168,은평구,2020-12-31,84.69,1,2873.469971,0.09,49.8,30495,0.97,1.32,...,2.21,0.66,0.51,0.5,16,103.933333,59700,"1,084.47",71.96,100.4
453169,강서구,2020-12-31,84.98,5,2873.469971,0.09,49.8,30495,0.97,1.32,...,2.21,0.66,0.51,0.5,16,103.933333,69700,"1,084.47",71.96,100.4

In [3]:
train_df.isnull().sum()

자치구                       0
계약일                       0
건물면적(㎡)                   0
층                         0
KOSPI종가                   0
Fed기준금리                   0
국제유가(Dubai)($/배럴)         0
부동산거래량                    0
국고채3년(평균)                 0
국고채5년(평균)                 0
국고채10년(평균)                0
회사채3년(평균)                 0
CD91물(평균)                 0
콜금리(1일물,평균)               0
BOK기준금리                   0
건물연식                      0
GDP대비가계부채비율               0
물건금액(만원)                  0
환율종가                 123029
금값종가                 108505
선행지수순환변동치                 0
dtype: int64

In [5]:
train_df['환율종가'] = train_df['환율종가'].fillna(method='ffill')

In [6]:
train_df['금값종가'] = train_df['금값종가'].fillna(method='ffill')

In [8]:
test_df = pd.read_csv('test_all.csv')
test_df

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),...,회사채3년(평균),CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가,선행지수순환변동치
0,양천구,2021-01-01,55.93,6,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,19,104.4,52000,"1,084.73",71.96,100.7
1,양천구,2021-01-01,49.99,7,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,21,104.4,52800,"1,084.73",71.96,100.7
2,강동구,2021-01-01,13.02,15,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,1,104.4,24000,"1,084.73",71.96,100.7
3,서초구,2021-01-01,59.93,25,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,8,104.4,120000,"1,084.73",71.96,100.7
4,강동구,2021-01-01,13.02,7,2873.469971,0.09,54.8,20938,0.98,1.32,...,2.14,0.68,0.49,0.50,1,104.4,23000,"1,084.73",71.96,100.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82922,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,18,105.0,250000,NaN,NaN,99.1
82923,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,34,105.0,138000,NaN,NaN,99.1
82924,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,14,105.0,172000,NaN,NaN,99.1
82925,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,26,105.0,37000,NaN,NaN,99.1
82926,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.30,4.02,3.24,3.25,19,105.0,76500,NaN,NaN,99.1

In [9]:
test_df['환율종가'] = test_df['환율종가'].fillna(method='ffill')

In [10]:
test_df['금값종가'] = test_df['금값종가'].fillna(method='ffill')

In [11]:
test_df.isnull().sum()

자치구                  0
계약일                  0
건물면적(㎡)              0
층                    0
KOSPI종가              0
Fed기준금리              0
국제유가(Dubai)($/배럴)    0
부동산거래량               0
국고채3년(평균)            0
국고채5년(평균)            0
국고채10년(평균)           0
회사채3년(평균)            0
CD91물(평균)            0
콜금리(1일물,평균)          0
BOK기준금리              0
건물연식                 0
GDP대비가계부채비율          0
물건금액(만원)             0
환율종가                 0
금값종가                 0
선행지수순환변동치            0
dtype: int64

In [13]:
df = pd.concat([train_df, test_df], axis=0)

In [16]:
df

,자치구,계약일,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),...,회사채3년(평균),CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가,선행지수순환변동치
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.1,1.67,1.49,1.50,25,83.3,18000,"1,175.45",76.81,99.6
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.1,1.67,1.49,1.50,26,83.3,55200,"1,175.45",76.81,99.6
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.1,1.67,1.49,1.50,14,83.3,36800,"1,175.45",76.81,99.6
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.1,1.67,1.49,1.50,6,83.3,67600,"1,175.45",76.81,99.6
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,2.1,1.67,1.49,1.50,26,83.3,30300,"1,175.45",76.81,99.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82922,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.3,4.02,3.24,3.25,18,105.0,250000,"1,260.92",76.11,99.1
82923,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.3,4.02,3.24,3.25,34,105.0,138000,"1,260.92",76.11,99.1
82924,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.3,4.02,3.24,3.25,14,105.0,172000,"1,260.92",76.11,99.1
82925,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.3,4.02,3.24,3.25,26,105.0,37000,"1,260.92",76.11,99.1
82926,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,5.3,4.02,3.24,3.25,19,105.0,76500,"1,260.92",76.11,99.1

### EPU 지수 컬럼 합치기

In [17]:
epu = pd.read_csv('EPU지수.csv')
epu

,Year,Month,South Korea,Korea Text,United States of America,US Text,GEPU Current,GEPU PPP,Australia,Brazil,...,Ireland,Italy,Japan,Netherlands,Russia,Spain,Singapore,United Kingdom,Sweden,Mexico
0,2023,5,149.445007,NaN,209.579999,NaN,NaN,NaN,148.655642,219.359301,...,NaN,115.487788,NaN,NaN,245.093522,134.037507,NaN,249.682639,NaN,40.333989
1,2023,4,187.613874,NaN,171.702320,NaN,NaN,NaN,194.659277,204.029156,...,167.837687,156.728421,145.103680,NaN,650.532318,84.988835,NaN,218.572076,NaN,52.742372
2,2023,3,215.014123,NaN,200.489936,NaN,318.953148,331.080259,190.028779,232.253189,...,307.767253,128.974552,128.734917,86.737223,356.250565,170.694116,324.699308,297.875730,113.957573,69.082777
3,2023,2,200.620753,NaN,152.967281,NaN,249.168683,260.777120,206.173517,194.122068,...,137.395739,117.908498,117.291775,83.831200,264.409910,110.741180,256.037908,267.984711,98.618662,49.850731
4,2023,1,175.305956,NaN,161.427113,NaN,251.893250,262.134357,115.358944,255.691584,...,269.562336,100.374074,95.748561,75.428737,392.549788,159.705457,250.164602,267.366246,129.144757,120.565407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2013,6,99.688691,NaN,126.625869,NaN,120.419787,118.332416,117.867590,131.464069,...,178.046077,134.501946,111.900785,202.514539,192.287864,112.615114,118.718847,216.774738,95.365134,45.018868
120,2013,5,65.847975,NaN,109.028043,NaN,106.458667,104.980142,161.500368,145.158243,...,167.809341,130.024795,93.618394,143.621645,150.058596,75.458638,104.256332,162.968723,97.909188,27.581242
121,2013,4,85.811232,NaN,135.440592,NaN,134.600027,135.814884,106.788631,130.496775,...,106.577590,199.696563,95.989319,212.294403,167.341833,124.013748,133.380778,240.477416,101.092369,24.387869
122,2013,3,79.811448,NaN,146.115862,NaN,141.663545,139.304095,81.992574,205.754503,...,100.495123,241.018206,123.647108,158.423268,230.156425,189.022566,126.501986,274.719020,97.004814,30.591608
123,2013,2,91.855159,NaN,128.562513,NaN,125.669713,125.745144,98.201681,69.938225,...,174.507382,184.066826,103.520907,160.567370,151.245257,80.583840,127.794901,265.683914,82.178157,36.013901

In [19]:
epu['계약일'] = epu['Year'].astype(str) + '-' + epu['Month'].astype(str)

In [24]:
epu = epu[['계약일', 'South Korea']]
epu

        계약일  South Korea
0    2023-5   149.445007
1    2023-4   187.613874
2    2023-3   215.014123
3    2023-2   200.620753
4    2023-1   175.305956
..      ...          ...
119  2013-6    99.688691
120  2013-5    65.847975
121  2013-4    85.811232
122  2013-3    79.811448
123  2013-2    91.855159

[124 rows x 2 columns]

In [27]:
df['계약일'] = pd.to_datetime(df['계약일'], format='%Y-%m-%d')
epu['계약일'] = pd.to_datetime(epu['계약일'], format='%Y-%m-%d')

In [29]:
df['월'] = df['계약일'].dt.to_period('M')
epu['월'] = epu['계약일'].dt.to_period('M')

In [30]:
merged_df = pd.merge(df, epu, on='월', how='left')

In [31]:
merged_df

,자치구,계약일_x,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),...,BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가,선행지수순환변동치,월,계약일_y,South Korea
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.50,25,83.3,18000,"1,175.45",76.81,99.6,2016-01,2016-01-01,177.148845
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.50,26,83.3,55200,"1,175.45",76.81,99.6,2016-01,2016-01-01,177.148845
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.50,14,83.3,36800,"1,175.45",76.81,99.6,2016-01,2016-01-01,177.148845
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.50,6,83.3,67600,"1,175.45",76.81,99.6,2016-01,2016-01-01,177.148845
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.50,26,83.3,30300,"1,175.45",76.81,99.6,2016-01,2016-01-01,177.148845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536092,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,...,3.25,18,105.0,250000,"1,260.92",76.11,99.1,2022-12,2022-12-01,169.662386
536093,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,3.25,34,105.0,138000,"1,260.92",76.11,99.1,2022-12,2022-12-01,169.662386
536094,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,...,3.25,14,105.0,172000,"1,260.92",76.11,99.1,2022-12,2022-12-01,169.662386
536095,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,...,3.25,26,105.0,37000,"1,260.92",76.11,99.1,2022-12,2022-12-01,169.662386
536096,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,3.25,19,105.0,76500,"1,260.92",76.11,99.1,2022-12,2022-12-01,169.662386

In [32]:
merged_df = merged_df.drop(columns = ['월','계약일_y'])

In [33]:
merged_df

,자치구,계약일_x,건물면적(㎡),층,KOSPI종가,Fed기준금리,국제유가(Dubai)($/배럴),부동산거래량,국고채3년(평균),국고채5년(평균),...,CD91물(평균),"콜금리(1일물,평균)",BOK기준금리,건물연식,GDP대비가계부채비율,물건금액(만원),환율종가,금값종가,선행지수순환변동치,South Korea
0,노원구,2016-01-01,39.96,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,25,83.3,18000,"1,175.45",76.81,99.6,177.148845
1,성동구,2016-01-01,75.37,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,26,83.3,55200,"1,175.45",76.81,99.6,177.148845
2,금천구,2016-01-01,84.83,3,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,14,83.3,36800,"1,175.45",76.81,99.6,177.148845
3,은평구,2016-01-01,101.97,9,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,6,83.3,67600,"1,175.45",76.81,99.6,177.148845
4,노원구,2016-01-01,84.59,10,1961.310059,0.34,26.9,9894,1.63,1.77,...,1.67,1.49,1.50,26,83.3,30300,"1,175.45",76.81,99.6,177.148845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536092,서초구,2022-12-31,152.33,9,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,18,105.0,250000,"1,260.92",76.11,99.1,169.662386
536093,송파구,2022-12-31,84.71,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,34,105.0,138000,"1,260.92",76.11,99.1,169.662386
536094,송파구,2022-12-31,84.90,24,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,14,105.0,172000,"1,260.92",76.11,99.1,169.662386
536095,양천구,2022-12-31,64.02,5,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,26,105.0,37000,"1,260.92",76.11,99.1,169.662386
536096,동대문구,2022-12-31,84.97,11,2236.399902,4.10,77.2,3698,3.63,3.59,...,4.02,3.24,3.25,19,105.0,76500,"1,260.92",76.11,99.1,169.662386

In [37]:
merged_df = merged_df.rename(columns = {'계약일_x':'계약일'})

In [54]:
merged_df.to_csv('all_df.csv', encoding='utf-8-sig', index=False)

In [45]:
test_df = merged_df[merged_df['계약일'] >= '2020-01-01']

In [44]:
train_df = merged_df[merged_df['계약일'] < '2020-01-01']

In [50]:
test_df.reset_index(drop=True, inplace=True)

In [51]:
train_df.reset_index(drop=True, inplace=True)

In [55]:
test_df.to_csv('test_df.csv', encoding='utf-8-sig', index=False)

In [56]:
train_df.to_csv('train_df.csv', encoding='utf-8-sig', index=False)