In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("./서울 부동산 실거래가.csv",encoding = 'euc-kr')
df

/Users/eunjin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7,15,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2023,11530,구로구,10200,구로동,1.0,대지,797.0,37.0,(797-37),...,30000,55.23,0.0,3,NaN,NaN,1998.0,아파트,직거래,NaN
1,2023,11560,영등포구,11000,여의도동,1.0,대지,50.0,0.0,시범,...,144500,60.96,0.0,6,NaN,NaN,1971.0,아파트,중개거래,서울 영등포구
2,2023,11650,서초구,10100,방배동,1.0,대지,1015.0,0.0,임광,...,210000,136.38,0.0,7,NaN,NaN,1985.0,아파트,직거래,NaN
3,2023,11590,동작구,10200,상도동,1.0,대지,536.0,0.0,상도효성해링턴플레이스,...,93000,59.98,0.0,26,NaN,NaN,2016.0,아파트,중개거래,서울 동작구
4,2023,11440,마포구,12000,서교동,1.0,대지,487.0,0.0,대우미래사랑,...,29500,34.29,0.0,8,NaN,NaN,2005.0,아파트,중개거래,서울 마포구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337923,2006,11620,관악구,10100,봉천동,1.0,대지,1706,0.0,봉천우성,...,16900,59.76,NaN,3,NaN,NaN,2000.0,아파트,NaN,NaN
1337924,2006,11350,노원구,10500,상계동,1.0,대지,720,0.0,상계주공6(고층),...,13500,59.20,NaN,12,NaN,NaN,1988.0,아파트,NaN,NaN
1337925,2006,11470,양천구,10100,신정동,1.0,대지,312,0.0,목동신시가지9,...,33300,53.82,NaN,7,NaN,NaN,1987.0,아파트,NaN,NaN
1337926,2006,11560,영등포구,12600,양평동2가,1.0,대지,38,1.0,양평삼성,...,18000,59.40,NaN,2,NaN,NaN,1998.0,아파트,NaN,NaN
1337927,2006,11650,서초구,10600,잠원동,1.0,대지,73,0.0,신반포2,...,56700,79.42,NaN,4,NaN,NaN,1978.0,아파트,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1337928 entries, 0 to 1337927
Data columns (total 21 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   접수연도              1337928 non-null  int64
 1   자치구코드             1337928 non-null  int64
 2   자치구명              1337928 non-null  object
 3   법정동코드             1337928 non-null  int64
 4   법정동명              1337928 non-null  object
 5   지번구분              1337800 non-null  float64
 6   지번구분명             1337800 non-null  object
 7   본번                1337800 non-null  object
 8   부번                1337800 non-null  float64
 9   건물명               1337928 non-null  object
 10  계약일               1337928 non-null  int64
 11  물건금액(만원)          1337928 non-null  int64
 12  건물면적(㎡)           1337928 non-null  float64
 13  토지면적(㎡)           372759 non-null   float64
 14  층                 1337928 non-null  int64
 15  권리구분              55668 non-null    object
 16  취소일               8249 non-null     float64
 17  건축년도              1337922 non-null  float64
 18  건물용도              1337928 non-null  object
 19  신고구분              59743 non-null    object
 20  신고한 개업공인중개사 시군구명  52146 non-null    object
dtypes: float64(6), int64(6), object(9)
memory usage: 214.4+ MB

In [6]:
# 필요없는 컬럼 삭제
df = df.drop(columns=['자치구코드','법정동코드','지번구분','지번구분명','본번','부번','토지면적(㎡)','권리구분','취소일',
                 '신고구분','신고한 개업공인중개사 시군구명'])

In [7]:
# 새로운 컬럼 생성을 위한 앞의 4자리 숫자 추출 함수 정의
def extract_year(row):
    return str(row)[:4]

# '계약일' 컬럼에서 앞의 4자리 숫자 추출하여 새로운 컬럼 생성
df['연도'] = df['계약일'].apply(extract_year)

In [8]:
df.drop('접수연도', axis = 1, inplace = True)

In [9]:
df

,자치구명,법정동명,건물명,계약일,물건금액(만원),건물면적(㎡),층,건축년도,건물용도,연도
0,구로구,구로동,(797-37),20230612,30000,55.23,3,1998.0,아파트,2023
1,영등포구,여의도동,시범,20230612,144500,60.96,6,1971.0,아파트,2023
2,서초구,방배동,임광,20230612,210000,136.38,7,1985.0,아파트,2023
3,동작구,상도동,상도효성해링턴플레이스,20230612,93000,59.98,26,2016.0,아파트,2023
4,마포구,서교동,대우미래사랑,20230612,29500,34.29,8,2005.0,아파트,2023
...,...,...,...,...,...,...,...,...,...,...
1337923,관악구,봉천동,봉천우성,20060101,16900,59.76,3,2000.0,아파트,2006
1337924,노원구,상계동,상계주공6(고층),20060101,13500,59.20,12,1988.0,아파트,2006
1337925,양천구,신정동,목동신시가지9,20060101,33300,53.82,7,1987.0,아파트,2006
1337926,영등포구,양평동2가,양평삼성,20060101,18000,59.40,2,1998.0,아파트,2006
1337927,서초구,잠원동,신반포2,20060101,56700,79.42,4,1978.0,아파트,2006

In [108]:
# 사용할 연도 컬럼만 추출해서 새로운 데이터 프레임 생성
seoul_df = df[df['연도'].isin(['2017', '2018', '2019', '2020', '2021', '2022', '2023'])]
seoul_df
# 추출된 데이터프레임을 CSV 파일로 저장
seoul_df.to_csv('seoul__data.csv', index=False)

,자치구명,법정동명,건물명,계약일,물건금액(만원),건물면적(㎡),층,건축년도,건물용도,연도
0,구로구,구로동,(797-37),20230612,30000,55.23,3,1998.0,아파트,2023
1,영등포구,여의도동,시범,20230612,144500,60.96,6,1971.0,아파트,2023
2,서초구,방배동,임광,20230612,210000,136.38,7,1985.0,아파트,2023
3,동작구,상도동,상도효성해링턴플레이스,20230612,93000,59.98,26,2016.0,아파트,2023
4,마포구,서교동,대우미래사랑,20230612,29500,34.29,8,2005.0,아파트,2023
...,...,...,...,...,...,...,...,...,...,...
461958,강남구,역삼동,대우디오빌,20170101,26400,30.03,11,2002.0,아파트,2017
461959,중랑구,상봉동,우정아파트,20170101,39200,81.78,13,2002.0,아파트,2017
461960,관악구,신림동,강남,20170101,17800,46.72,3,1974.0,아파트,2017
461961,금천구,가산동,두산,20170101,37000,84.90,1,1998.0,아파트,2017
461962,성북구,정릉동,정릉풍림아이원,20170101,33500,60.00,11,2005.0,아파트,2017